<!DOCTYPE html>
<html>

<head>
<title>Webエクササイズ</title>
<meta charset="utf-8" name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
<!-- CSSの読み込み -->
<link type="text/css" rel="stylesheet" href="./css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="./css/froala_blocks.css">
<link type="text/css" rel="stylesheet" href="./css/gips.css">
<!-- JSの読み込み -->
<script type="text/javascript" src="./js/jquery-3.5.1.min.js" defer="defer"></script>
<script type="text/javascript" src="./js/bootstrap.min.js" defer="defer"></script>
</head>

<body>
	<!-- ヘッダ -->
	<header class="bg-dark">
		<div class="container">
			<nav class="navbar navbar-expand-md no-gutters">
				<div class="col-3 text-left" id="logo">
					<img src="./images/logo.png" height="40" alt="image">
				</div>
				<div class="collapse navbar-collapse navbar-collapse-4 col-md-6"
					id="navbarNav01">
					<ul class="navbar-nav justify-content-center">
						<li class="nav-item nav-link"><a href="resistUser.html">ユーザ登録</a></li>
						<li class="nav-item nav-link"><a href="userList.html">ユーザ一覧</a></li>
						<li class="nav-item nav-link"><a href="userList.html">ユーザ一覧更新</a></li>
					</ul>
				</div>
				<div class="collapse navbar-collapse navbar-collapse-4 col-md-5"
					id="navbarNav02">
					<ul class="navbar-nav justify-content-center">
						<li class="nav-item"><a class="nav-link" href="index.html"
							id="linkLogout">ログアウト</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>

	<!-- メッセージ表示 -->
	<div id="message_area"></div>

	<section class="fdb-block py-0 sectionHeight">
		<div class="container my-5">

			<!-- ここにHTMLをかく -->
			<form method ="post" action="/login" data-th-object="${loginform}">
			<div class=" row justify-content-center">
				<div class="col-12 col-md-8 col-lg-6 col-xl-5 text-left">
					<div class="row">
						<div class="col">
							<h1>ログイン</h1>
							<p class="lead">ユーザIDとパスワードを入力してください。</p>
						</div>
					</div>
					<div class="row">
						<div class="col mt-4">
							<input type="text" data-th-field="*{id}" class="form-control" placeholder="ユーザID">
						</div>
					</div>
					<div class="row">
						<div class="col mt-4">
							<input type="password" data-th-field="*{password}" class="form-control" placeholder="パスワード">
						</div>
					</div>
					<div class="row">
						<div class="col mt-4">
							<input type="checkbox" name="checkLogin" id="loginInfoSave">
							<label for="loginInfoSave" class="checkbox-inline">ログイン情報を保存する</label>
						</div>
					</div>
					<div class="row">
						<div class="col mt-4">
							<input type="submit" value="ログイン">
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
	</section>

	<!-- フッタ -->
	<footer class="fdb-block footer-small bg-dark footer">
		<div class="container">
			<div class="row text-center">
				<div class="col" id="copywrite">
					<p>© 2019 Solid Communication Inc. All Rights Reserved</p>
				</div>
			</div>
		</div>
	</footer>

</body>

</html>
